<!-- Banner -->
<div class="container-header" id="about">
  <div class="row justify-content-center banner" style="align-items: center;">
    <div class="col" id="column" style="">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2>Ruben <span><strong>Rubilar</strong></span></h2>
          <p>Hello I'm Full-stack Web Developer, creative, always positive, enthusiastic and passionate about creating new stuffs. </p>
        </figcaption>
        <div class="image"><img src="<%= image_path 'yo.jpg' %>" alt="sample4"/></div>
        <div class="position">
          <h3>Full-stack Web Developer</h3>
        </div>
      </figure>
    </div>
    <a href="#projects" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
  </div>
</div>
<!-- Projects -->
<div class="main-container">
  <div class="container-projects" id="projects">
    <div class="title-projects">
      <h1> PROJECTS </h1>
    </div>
    <hr>
    <div class="cards-projects" data-aos="fade-right">
      <img src="<%= image_path 'mimics-backberry.jpg' %>" alt="mimics-blackberry">
      <div>
        <h2 style="display: flex; justify-content: space-between;"> MIMIC'S BLACKBERRY <span><a href="https://www.mimics-blackberry.com/" add target="_blank"><i class="fas fa-external-link-alt"></i></a></span></h2>
        <hr>
        <p> Designed as a "plug-in" or external feature to the world of Dungeons & Dragons, where you can not only use calendars from different realms already built on the database with its own premade events but also add your own notes and events. In addition a chrome extension has been implemented to add notes much quicker.</p>
        <div class="tools">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-css3-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
        </div>
      </div>
    </div>
    <div class="cards-projects" data-aos="fade-left">
      <img src="<%= image_path 'costume-airbnb.jpg' %>" alt="costume-airbnb">
      <div>
        <h2 style="display: flex; justify-content: space-between;"> COSTUMES AIRBNB <span><a href="http://rails-costume-airbnb-clone.herokuapp.com/" add target="_blank"><i class="fas fa-external-link-alt"></i></a></span></h2>
        <hr>
        <p> Clone of "AirBnB" website, where you can post and rent costumes, leave reviews and also be able to search on the map.</p>
        <div class="tools">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-css3-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
        </div>
      </div>
    </div>
    <div class="cards-projects" data-aos="fade-right">
      <img src="<%= image_path 'city-cocktails.jpg' %>" alt="city-cocktails">
      <div>
        <h2 style="display: flex; justify-content: space-between;"> CITY COCKTAILS <span><a href="https://city-cocktails.herokuapp.com/cocktails" add target="_blank"><i class="fas fa-external-link-alt"></i></a></span></h2>
        <hr>
        <p>A cocktail recipe organizer.</p>
        <div class="tools">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-css3-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="contact-footer" id=contact>
    <div class="icons-footer">
      <a href="mailto:rubenrubilarbustos@gmail.com? subject=subject text" add target="_blank"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/Rubenrrb"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/ruben-rubilar/"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/rubenrrb/"><i class="fab fa-instagram"></i></i></a>
  </div>
</div>
</div>
